<div class="vh-100">

  <table class="table" id="productsTable">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Thumbnail</th>
        <th>Price</th>
        <th>Code</th>
        <th>Stock</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="productsBody"></tbody>
  </table>

  <!--BTN + FORMULARIO CON POPUP -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo producto</h5>
          <button type="button" class="close btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="newProductForm">
            <div class="mb-3">
              <label for="title" class="form-label">Título</label>
              <input autocomplete="off" type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Descripción</label>
              <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Precio</label>
              <input autocomplete="off" type="number" class="form-control" id="price" name="price">
            </div>
            <div class="mb-3">
              <label for="thumbnail" class="form-label">URL de la imagen (Thumbnail)</label>
              <input autocomplete="off" type="text" class="form-control" id="thumbnail" name="thumbnail">
            </div>
            <div class="mb-3">
              <label for="code" class="form-label">Código</label>
              <input autocomplete="off" type="text" class="form-control" id="code" name="code">
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input autocomplete="off" type="number" class="form-control" id="stock" name="stock">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Registrar producto</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="z-index: 1000; margin: 40px;"
    class="btn btn-sm rounded-md btn-primary position-fixed bottom-0 end-0 py-2 px-2 shadow">Nuevo producto</button>
</div>